name: across

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    ports:
      - 8001:8001
    environment:
      APP_ENV: production
    depends_on:
      - db
    command: uvicorn main:app --host 0.0.0.0 --port 8001