name: |-
  CI Checks Workflow

  Runs format, lint, types and tests.

on:
  workflow_call:
    inputs:
      format-changed-files:
        description: Only run formatting/linting on changed files.
        required: false
        default: true
        type: boolean

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Formatting
        uses: astral-sh/ruff-action@v1
        with:
          args: format --check
          changed-files: ${{inputs.format-changed-files}}
          version: 0.8.1

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run Unit Tests
        run: make test

  types:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run Type Checking
        run: make types
